@media only screen and (min-width: 768px) and (max-height: 1024px) and (orientation: portrait) {

  .map {
    background-image: url(../images/mobile_map.png);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;
  }

}
