body {
  margin: 0 auto;
}

.map {
  background-image: url(../images/desktop_map.png);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

.form-inline-mobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20%;
}

.toggle-row {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fa {
  color:black;
}

.desktop-drop {
  background-color: white;
  width: 18vw;
  padding-left: 1rem;
}

.dropdown-toggle-list {
  position: relative;
}

.mobile-drop-list {
  position: absolute;
  top: 8rem;
  left: -4.5rem;
  width: 100vw;
  padding-left: 2rem;
  padding-right: 2rem;
}

.mobile-drop-map {
  position: absolute;
  top: 8rem;
  right: auto;
  width: 100vw;
  background-image: url(../images/mobile_map.png);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

.mobile-drop-filter {
  position: absolute;
  top: 8rem;
  right: -12rem;
  width: 100vw;
  padding-left: 4rem;
  padding-right: 2rem;
  font-size: 2rem;
}

.mobile-filter:hover {
  cursor: pointer;
}

.city-mobile > h4 {
  text-align: center;
}

.form-inline {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 8%;
}

.list {
  margin-top: 1rem;
  height: 100vh;
  justify-content: space-around;
}

input.form-control {
  height: 3.5rem;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#dropdownMenu2 {
  height: 3.5rem;
}

hr {
  display: block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

.store-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 4.5rem;
}

.marker {
  display: flex;
  flex-direction: column;
  background-image: url(../images/pin.png);
  background-repeat: no-repeat;
  margin-right: 1rem;
}

.marker > h6 {
  font-size: 2rem;
  color: white;
}

.distance {
  display: flex;
  flex-direction: column;
}

.distance > h6{
  font-size: 2rem;
  color: gray;
}

h4 {
  font-weight: bold;
}

.address {
  font-size: 2rem;
}

.btn-pair {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.btn-lg-2 {
   width: 45%;
   margin-bottom: 0.5rem;
   height: 4.5rem;
 }

.btn-primary {
  background-color: black;
}

p {
  margin: 0 auto;
}
